

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.logo {
  height: 32px;
  margin: 16px;
  background: rgba(255, 255, 255, 0.3);
}

.site-layout .site-layout-background {
  background: #fff;
}
[data-theme="dark"] .site-layout .site-layout-background {
  background: #141414;
}

div.render3lines{
  text-align: left;
  display: -webkit-box;
  -webkit-box-orient:vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
}
